.mynavbar{
    margin-top: -6rem !important;
}
.mt-7{
    margin-top: 6rem !important;
}

.jumbo{
    margin-top: -10rem;
    background-image: url('../pictures/header.png');
    background-size: cover;
    height: 815px;
}
.mt-8{
    margin-top: 6rem;
}
.textcenter
{
    margin-top: 100px;
}

.borderbtn{
    margin-left: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.bordertext{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.borderbtn2{
    height: 100px;
    width: 100px;
}

.bckrnjmb{
    background-image: url('../pictures/Untitled-1.png');
    background-size: cover;
    height: 400px;

}
.bckrnjmb1{
    margin-top: 100px;
    background-image: url('../pictures/Untitled-1.png');
    background-size: cover;
    height: 400px;

}
.bckrnjmbimg{
    background-image: url('../pictures/Untitled-1.png');

}

.textseacrh{
    width: 400px !important;
}
.textkategori{
    margin-top: -50px;
}

.mt-x9{
    margin-top: -50px;
}

.btn-kuliner{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
@font-face{
    font-family: 'Great_Vibes';
    src: url('../font/Great_Vibes/GreatVibes-Regular.ttf');
}
@font-face{
    font-family: 'Amita';
    src: url('../font/Amita/Amita-Regular.ttf');
}
.font-header{
    font-family: 'Great_Vibes';
}
.font-page{
        font-family: 'Amita';
}


    #welcome
	{
		position: relative;
		padding: 4em 0em 4em 0em;
        background-image: url('../pictures/footer.png');
		background-size: cover;
        text-align: center;
        /* height: 400px; */
	}
	
	#welcome .containers
	{
		width: 1000px;
		padding: 0px 100px;
		margin-top: 100px;
	}
	
    .containers
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
    }
    #three-column .title .byline
	{
		text-align: center;
		/* color: rgba(0,0,0,.5); */
    }
    .pad{
        margin-top: 4px;
        margin-bottom: -45px;
    }