.mynavbar{
    margin-top: -6rem !important;
}
.mt-7{
    margin-top: 6rem !important;
}

.jumbo{
    background-image: url('../pictures/Header/header-rightside.png');
    background-repeat: no-repeat;
}
.jumbob{
    margin-top: -9rem;
    background-image: url('../pictures/Header/header2.png');
    background-repeat: no-repeat;
}
.jumbo2{
    margin-top: -9rem;
    background-image: url('../pictures/header.png');
    background-size: cover;
    height:850px;
    
}

.mt-8{
    margin-top: 60px !important;
}
.textcenter
{
    margin-top: 100px;
}

.borderbtn{
    margin-left: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 0px;
}

.bordertext{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: transparent;
}
.bordertext2{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: transparent;
}
.borderbtn2{
    height:200px;
    width: 200px;
}

.bckrnjmb{
    background-image: url('../pictures/main2/Untitled-1.png');
    background-size: cover;
    height: 600px;

}
.bckrnjmb1{
    margin-top: 100px;
    background-image: url('../pictures/main2/Untitled-1.png');
    background-size: cover;
    height: 400px;

}
.bckrnjmb2{
    margin-top: 150px;
    background-image: url('../pictures/main2/Untitled-1.png');;
    background-size: cover;
    height: 400px;

}
.bckrnjmbimg{
    background-image: url('../pictures/main2/Untitled-1.png');
    height: 600px;
}
.bckrnjmbimg2{
    background-image: url('../pictures/main2/Pernakpernik.png');
}

.mt-kuliner{
    margin-top: 150px;
}

.textseacrh{
    width: 400px !important;
}
.textkategori{
    margin-top: -50px;
}

.mt-x9{
    margin-top: -50px;
}
.image{
    margin-top: 10px !important;
    margin: auto;
    width: 200px;
    height: 200px;
}
.btn-kuliner{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
@font-face{
    font-family: 'Kaushan_Script';
    src: url('../font/Kaushan_Script/KaushanScript-Regular.ttf');
}
@font-face{
    font-family: 'Amita';
    src: url('../font/Amita/Amita-Regular.ttf');
}
.font-header{
    font-family: 'Kaushan_Script';
}
.font-page{
        font-family: 'Amita';
}
.borderkuliner{
    border: 0px solid rgba(0,0,0,.125) !important;
}

html {
    scroll-behavior: smooth;
}
  
#welcome
	{
		margin-top: 200px;
		padding: 4em 0em 4em 0em;
        background-image: url('../pictures/Footer/footer.png');
		background-size: cover;
        text-align: center;
        /* height: 400px; */
}
	
#welcome .containers
	{
		width: 1000px;
		padding: 0px 100px;
		margin-top: 100px;
}
	
.containers
	{
		overflow: hidden;
		margin: 0em auto;
		width: 1200px;
}
#three-column .title .byline
	{
		text-align: center;
		/* color: rgba(0,0,0,.5); */
}
.pad{
        margin-top: 4px;
        margin-bottom: -45px;
}


.kuliner .examp{
    opacity: 0;
    transition: .6s;
    transform: translate(0, -40px);
}
.kuliner .examp.showup2{
    opacity: 1;
    transform: translate(0,0);
}
.kategori .examp{
    opacity: 0;
    transition: .5s;
    transform: translate(0, -40px);
}
.kategori .examp.showup2{
    opacity: 1;
    transform: translate(0,0);
}

.tombol:hover{
    border-radius:20px;
    color:#FBD465;
    background-color:#FBD465;
    transition:2s;
    border: 5px #FBD465;
    }


html {
        scroll-behavior: smooth;
      }